<div class="col-lg-3 col-md-4 col-6">
	<video-js poster={{@posterURL}} class="vjs-theme-city video-player {{@class}}" id={{concat @id "_" @trackType}} style={{@style}} playsinline crossorigin autoplay>
		{{yield}}
	</video-js>

	<div class="position-absolute text-lowercase p-2 d-flex top-0 end-0 d-flex align-items-start justify-content-end text-end w-100" style="z-index:1" {{did-insert this.initPlayer}}>

	    {{#if this.muted}}
		    <div class="text-white small fw-bolder mx-1" {{on 'click' this.muteUnmute}}>&lt;unmute&gt;</div>
		{{else}}
			<div class="text-white small fw-bolder mx-1" {{on 'click' this.muteUnmute}}>&lt;mute&gt;</div>
		{{/if}}
	</div>
</div>